.ActionsBox{
    background-color: var(--more-list-shadow); 
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
    padding: 20px 30px; 
    z-index: 9;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;

  .container {
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
  }
  
  .card {
    width: 400px;
    background: var(--message-box-hover);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    width: 100%;
    height: 25%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--main-color) ;
    ;
    font-weight: 1000;
    font-size: 32px;
  }
  #tile {
    display:flex;
    padding: 10px 13px;
  }

  .cart {
    border-radius: 19px 19px 0px 0px;
    .Exit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: rgb(255, 65, 65);
      .sign {
        width: 100%;
        transition-duration: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 17px;
        }
          
        svg path {
            fill: white;
        }
      }
      .text {
        position: absolute;
        right: 0%;
        width: 0%;
        opacity: 0;
        color: white;
        font-size: 1.2em;
        font-weight: 600;
        transition-duration: .3s;
      }
      &:hover {
        width: 125px;
        border-radius: 40px;
        transition-duration: .3s;
      }
      
      &:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
      }
      &:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
      }
      &:active {
        transform: translate(2px ,2px);
      }
    }
  }
  
  .cart .steps {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .cart .steps .step {
    display: grid;
    gap: 10px;
  }
  
  .cart .steps .step span {
    font-size: 13px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 8px;
    display: block;
  }
  
  .cart .steps .step p {
    font-size: 11px;
    font-weight: 600;
    color: var(--main-color);
  }
  
  .promo form {
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 10px;
    padding: 0px;

    .inputGroup {
        max-width: 100%;
        position: relative;
        .One{
            margin-bottom: 1lh;
            input {
                font-size: 100%;
                padding: 0.8em;
                outline: none;
                color: var(--link-color);
                border: 2px solid var(--secondary-color);
                background-color: transparent;
                border-radius: 20px;
                width: 100%;
              }
              
             label {
                font-size: 100%;
                position: absolute;
                left: 0;
                padding: 0.8em;
                margin-left: 0.5em;
                pointer-events: none;
                transition: all 0.3s ease;
                color: var(--link-color);
              }
              
             :is(input:focus, input:valid)~label {
                transform: translateY(-50%) scale(.9);
                margin: 0em;
                margin-left: 1.3em;
                padding: 0.4em;
                background-color: var(--message-box-hover);
              }
              
             :is(input:focus, input:valid) {
                border-color: var(--main-color);
              }
        }
        .Two{
            display: flex;
            flex-direction: row; 
            justify-content: space-between; 
            align-items: center; 
            gap: 10px; 
            .One{
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;
                input {
                    font-size: 100%;
                    padding: 0.8em;
                    outline: none;
                    color: var(--link-color);
                    border: 2px solid var(--secondary-color);
                    background-color: transparent;
                    border-radius: 20px;
                    width: 100%;
                  }
                  
                 label {
                    font-size: 100%;
                    position: absolute;
                    left: 0;
                    padding: 0.8em;
                    margin-left: 0.5em;
                    pointer-events: none;
                    transition: all 0.3s ease;
                    color: var(--link-color);
                  }
                  
                 :is(input:focus, input:valid)~label {
                    transform: translateY(-50%) scale(.9);
                    margin: 0em;
                    margin-left: 1.3em;
                    padding: 0.4em;
                    background-color: var(--message-box-hover);
                  }
                  
                 :is(input:focus, input:valid) {
                    border-color: var(--main-color);
                  }
            }
        }
    
      }
  }
  
  
  .checkout  {
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        background-color: var(--secondary-color);
    }

    .button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(20, 20, 20);
      border: none;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
      cursor: pointer;
      transition-duration: 0.3s;
      overflow: hidden;
      position: relative;
      gap: 2px;
    
      &:hover {
        background-color: rgb(255, 69, 69);
        align-items: center;
        gap: 0;
      }
    
     .svgIcon {
        width: 12px;
        transition-duration: 0.3s;
      }
    
     .svgIcon path {
        fill: white;
      }
    
     .bin-top {
        transform-origin: bottom right;
      }
    
      &:hover.bin-top {
        transition-duration: 0.5s;
        transform: rotate(160deg);
      }
    }
    $primary-color: #000;
    $secondary-color: #fff;
    $hover-bg-color: #23c483;
    $shadow-color: rgba(0, 0, 0, 0.1);

    .my-button {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: $primary-color;
        background-color: $secondary-color;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px $shadow-color;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

    &:hover {
        background-color: $hover-bg-color;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: $secondary-color;
        transform: translateY(-7px);
    }

    &:active {
        transform: translateY(-1px);
    }
    }

  }
}